```
header.html
Last edited: 7/13/23
By: Malik [Project Manager]
```
<script>
    let avatar = "https://th.bing.com/th/id/OIP.mbs5zceUOlVTB6Tgg4rZtQHaHa?pid=ImgDet&rs=1";
    let burger = 
</script>

<header>
    <div class="navbar bg-base-100">
        <div class="navbar-start flex inline">
          <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost btn-circle">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
              
            </label>
             
            <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
              <li><a>Homepage</a></li>
              <li><a>Portfolio</a></li>
              <li><a>About</a></li>
            </ul>
          </div>
          <p class="xl:text-lg md:text-lg lg:text-lg lg:flex xl:flex md:flex hidden"><span class="text-sky-500 me-2  ">Stemi</span> Learning</p>
        </div>
        <div class="navbar-center max-w-screen xl:w-2/4 md:w-2/4 w-1/2">
          <input class="input input-sm w-full  input-bordered input-ghost" type="text" placeholder="Search" />
        </div>
        <div class="navbar-end">
            <img src="{{avatar}}" class="rounded-full w-10 h-10">
        </div>
      </div>
    
</header>